<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserUtils</servlet-name>
        <servlet-class>e_banking.UserUtils</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateATMStatusServlet</servlet-name>
        <servlet-class>netbanking.UpdateATMStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>e_banking.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>e_banking.TransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyFeedbackServlet</servlet-name>
        <servlet-class>e_banking.ReplyFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>e_banking.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayEMIServlet</servlet-name>
        <servlet-class>e_banking.PayEMIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>e_banking.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>e_banking.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanApplicationServlet</servlet-name>
        <servlet-class>e_banking.LoanApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FundTransferServlet</servlet-name>
        <servlet-class>e_banking.FundTransferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>e_banking.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>e_banking.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>e_banking.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>e_banking.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>e_banking.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveLoanServlet</servlet-name>
        <servlet-class>e_banking.ApproveLoanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserUtils</servlet-name>
        <url-pattern>/UserUtils</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateATMStatusServlet</servlet-name>
        <url-pattern>/UpdateATMStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/TransactionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyFeedbackServlet</servlet-name>
        <url-pattern>/ReplyFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayEMIServlet</servlet-name>
        <url-pattern>/PayEMIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanApplicationServlet</servlet-name>
        <url-pattern>/LoanApplicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FundTransferServlet</servlet-name>
        <url-pattern>/FundTransferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/AdminLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveLoanServlet</servlet-name>
        <url-pattern>/ApproveLoanServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout> 30 </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
